body {
  background-color: #333333;
  color: lightgray;
}

.App {
  text-align: center;
}

.app-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#MinesweeperHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}