#DifficultyForm {
	display: grid;
	grid-template-columns: 450px;
	grid-template-rows: repeat(3, 80px);
	row-gap: 16px;
	text-align: center;
}

#FormButton {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 1%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 150%;
}

#FormButton:hover {
	background-color: #196e1c; /* Green */
	border: none;
	color: white;
	padding: 1%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 150%;
}


.difficulty-form-root {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 16px;
	margin-left: auto;
	margin-right: auto;
}