.centeredText {
    text-align: center;
}

#MinesAndTime {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.Table {
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 0px;
    -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

.Game {
    margin: auto;
}

.DifficultyFormAndReset {
    display: flex;
    gap: 1rem;
}